 /* font-family: "Inter", sans-serif;
font-family: "Raleway", sans-serif; */


 body {
     font-family: "Inter", sans-serif;
     font-size: 16px;
     background-color: #F5F5F5;
 }



 .container {
     max-width: 1440px;
     margin: 0 auto;
     /* padding: 0 10px; */
 }

 header {
     padding: 16px 112px;
     margin-bottom: 104px;

     .header__inner {
         display: flex;
         align-items: center;
         justify-content: space-between;

         .logo {
             width: 170px;
             height: auto;

             img {
                 width: 100%;
                 height: 100%;
             }
         }

         nav {
             padding: 22px 56px;
             border-radius: 20px;
             background: rgba(255, 255, 255, 0.6);
             border: 1px solid #FFFFFF;

             ul {
                 display: flex;
                 align-items: center;
                 gap: 47px;

                 li {
                     a {
                         font-weight: 400;
                         font-size: 16px;
                         line-height: 150%;
                         color: #8987A1;
                         display: inline-block;
                     }

                     &:hover a {
                         color: #252432;
                         /* font-weight: 700; */
                         text-shadow: #ffcc00 1px 0 10px;
                     }
                 }
             }
         }

         .auth__btns {
             display: flex;
             gap: 20px;

             button {
                 font-family: "Raleway", sans-serif;
                 padding: 12px 36px;
                 font-weight: 400;
                 font-size: 16px;
                 line-height: 150%;
                 color: #8987A1;
                 opacity: 0.8;
                 cursor: pointer;

                 &.active {
                     font-weight: 700;
                     color: #FFFFFF;
                     background: #4E47FF;
                     border-radius: 10px;
                 }

                 &:active {
                     transform: scale(98%);
                 }
             }
         }
     }
 }

 .webflow {
     position: relative;
     padding: 0 112px;
     margin-bottom: 155px;

     .webflow__cover {
         display: flex;
         justify-content: center;

         .webflow__inner {
             max-width: 620px;
             display: flex;
             flex-direction: column;
             justify-content: center;
             align-items: center;

             h1 {
                 font-family: "Raleway", sans-serif;
                 font-weight: 700;
                 font-size: 73.344px;
                 line-height: 100%;
                 color: #252432;
                 text-align: center;
                 margin-bottom: 36px;

             }

             button {
                 font-family: "Raleway", sans-serif;
                 padding: 18px 58px;
                 font-weight: 700;
                 font-size: 16px;
                 line-height: 150%;
                 color: #FFFFFF;
                 background: #252432;
                 border-radius: 10px;
                 cursor: pointer;

                 &:active {
                     transform: scale(98%);
                 }
             }
         }
     }

     &::after {
         content: '';
         position: absolute;
         left: 50%;
         transform: translateX(-50%);
         top: -86%;
         width: 972px;
         height: 850px;
         background: url(../img/decore-1.svg) no-repeat top center / contain;
         z-index: -1;
     }

 }

 .develop {
     padding: 0 112px;
     margin-bottom: 220px;

     .develop__inner {
         h2 {
             font-weight: 700;
             font-size: 60px;
             line-height: 120%;
             color: #252432;
             margin-bottom: 32px;
         }

         .develop__cards {
             display: grid;
             grid-template-columns: repeat(4, 1fr);
             gap: 32px;

             .develop__card {
                 background-color: #fff;
                 border-radius: 10px;
                 padding: 30px 21px;
                 cursor: pointer;

                 .develop__card-img {
                     width: 44px;
                     height: 44px;
                     display: flex;
                     justify-content: center;
                     align-items: center;
                     border-radius: 9px;
                     background-color: #F5F8FF;
                     margin-bottom: 30px;
                 }

                 h3 {
                     font-weight: 600;
                     font-size: 19.7727px;
                     line-height: 120%;
                     color: #252432;
                     padding-bottom: 18px;
                 }

                 p {
                     font-weight: 400;
                     font-size: 14px;
                     line-height: 150%;
                     color: #8987A1;

                 }
             }

             .brend {
                 grid-column: span 2;

                 .develop__webflow {
                     display: flex;
                     align-items: center;
                     justify-content: space-between;

                     .develop__card-brend {
                         background-color: #5B54FF;
                         display: flex;
                         align-items: center;
                         justify-content: center;
                         border-radius: 5px;
                         width: 218px;
                         height: 214px;
                         border: 1px solid #000000;
                     }

                     .develop__webflow-inner {
                         max-width: 230px;
                     }
                 }
             }

             .commerce {
                 grid-row: span 2;

                 .develop__commerce {
                     display: flex;
                     flex-direction: column;
                     height: 100%;

                     .develop__commerce-img {
                         margin-top: auto;

                         img {
                             border-radius: 5px;
                             width: 238px;
                             height: auto;
                         }
                     }

                 }
             }
         }
     }
 }


 .work {
     position: relative;
     margin-bottom: 110px;

     .work__header {
         padding: 0px 115px;
         display: flex;
         justify-content: center;
         align-items: center;
         margin-bottom: 60px;
         gap: 190px;

         .work__header-content {
             h2 {
                 font-family: "Raleway", sans-serif;
                 font-weight: 700;
                 font-size: 60px;
                 line-height: 120%;
                 color: #252432;
                 text-align: center;
                 padding-bottom: 32px;
             }

             p {
                 font-weight: 400;
                 font-size: 14px;
                 line-height: 150%;
                 color: #8987A1;
                 max-width: 450px;
                 text-align: center;
             }
         }

         button {
             width: 78px;
             height: 78px;
             border-radius: 50%;
             background: #FFFFFF;
             display: flex;
             justify-content: center;
             align-items: center;
             cursor: pointer;
             margin-bottom: 22px;

             &:nth-of-type(2) {
                 transform: rotate(180deg);
             }

             &:nth-of-type(1):active {
                 transform: scale(95%);
             }

             &:nth-of-type(2):active {
                 transform: rotate(180deg) scale(95%);
             }
         }
     }

     .work__slider {
         overflow-x: auto;
         -ms-overflow-style: none;
         scrollbar-width: none;

         &::-webkit-scrollbar {
             display: none;
             width: 0;
             height: 0;
         }

         .work__slider-inner {
             display: flex;
             justify-content: center;
             gap: 32px;

             li {
                 /* padding: 32px; */
                 border-radius: 10px;
                 border: 32px solid #ffffff8a;

                 img {
                     border-radius: 5px;
                     width: 732px;
                     height: auto;
                 }
             }
         }
     }

     &::after {
         content: '';
         position: absolute;
         left: 50%;
         transform: translateX(-50%);
         top: -13%;
         width: 800px;
         height: 840px;
         background: url(../img/decore-2.png) no-repeat top center / contain;
         mix-blend-mode: color-burn;
         z-index: -1;
     }
 }


 .pricing {
     .reviews {
         display: flex;
         justify-content: center;

         .reviews__inner {
             display: flex;
             align-items: center;
             gap: 13px;
             padding: 23px;
             border-radius: 22px;
             background-color: #fff;
             border: 1px solid #E4EAF8;
             margin-bottom: 86px;

             .reviews-images {
                 display: flex;
                 align-items: center;

                 img {
                     width: 37px;
                     height: 37px;
                     border-radius: 50%;
                     border: 2px solid #fff;
                     cursor: pointer;
                 }

                 img:nth-of-type(2) {
                     transform: translateX(-10px);
                 }

                 img:nth-of-type(3) {
                     transform: translateX(-20px);
                 }

                 img:nth-of-type(4) {
                     transform: translateX(-30px);
                 }

                 img:nth-of-type(5) {
                     transform: translateX(-40px);
                 }
             }

             .reviews-rates {
                 p {
                     font-weight: 400;
                     font-size: 16px;
                     line-height: 120%;
                     color: #8987A1;
                     text-transform: capitalize;
                     padding-bottom: 4px;

                     span {
                         font-weight: 600;
                         color: #252432;
                     }
                 }

                 ul {
                     display: flex;
                     gap: 6px;

                     li {
                         cursor: pointer;
                         line-height: 0;

                         img {
                             width: 12px;
                             height: 12px;

                             &:hover {
                                 transform: scale(1.2);
                             }
                         }
                     }
                 }
             }
         }
     }


 }

 .services {
     display: flex;
     gap: 32px;

     .services__meeting {
         flex-basis: 390px;
         display: flex;
         flex-direction: column;
     }

     .services__meeting-header {
         margin-bottom: 81px;
     }

     .services__meeting-header h2 {
         font-weight: 700;
         font-size: 60px;
         line-height: 120%;
         color: #252432;
         font-family: "Raleway", sans-serif;
         padding-bottom: 16px;
     }

     .services__meeting-header p {
         font-weight: 400;
         font-size: 14px;
         line-height: 150%;
         color: #8987A1;
     }

     .services__meeting-footer {
         padding: 37px 26px 26px 26px;
         background-color: #fff;
         border-radius: 20px;
         margin-top: auto;
     }

     .services__meeting-footer p {
         font-family: "Raleway", sans-serif;
         font-weight: 700;
         font-size: 34px;
         line-height: 120%;
         max-width: 240px;
         padding-bottom: 30px;
     }

     .services__meeting-footer h3 {
         font-family: "Raleway", sans-serif;
         font-weight: 700;
         font-size: 34px;
         line-height: 120%;
         padding-bottom: 40px;
         max-width: 240px;
     }

     .services__meeting-footer button {
         font-family: "Raleway", sans-serif;
         font-weight: 700;
         font-size: 16px;
         line-height: 150%;
         color: #FFFFFF;
         width: 100%;
         padding: 18px 0;
         background-color: #4E47FF;
         border-radius: 10px;
         cursor: pointer;

         &:active {
             transform: scale(98%);
         }
     }
 }

 .service__ulimited {
     display: flex;
     flex-direction: column;
     background-color: #fff;
     border-radius: 20px;
     padding: 43px 22px 25px 22px;
     flex-grow: 1;
     gap: 40px;


     .service__ulimited-header {
         padding: 0px 28px;

         h3 {
             font-weight: 700;
             font-size: 30px;
             line-height: 120%;
             font-family: "Raleway", sans-serif;
             padding-bottom: 30px;
         }

         p {
             font-family: "Inter", sans-serif;
             font-weight: 400;
             font-size: 14px;
             line-height: 150%;
             color: #8987A1;
             padding-bottom: 40px;
             max-width: 380px;
         }
     }

     .service__ulimited-inner {
         display: flex;
         gap: 120px;

         ul li {
             display: flex;
             align-items: center;
             gap: 13px;

             &:not(:last-child) {
                 margin-bottom: 18px;
             }
         }

         ul li span {
             font-weight: 400;
             font-size: 14px;
             line-height: 180%;
             color: #252432;
         }

         ul li img {
             width: 18px;
             height: 18px;
         }
     }


     .service__ulimited-price {
         margin-top: auto;
         display: flex;
         align-items: center;
         justify-content: space-between;
         padding: 28px 42px;
         background-color: #F5F8FF;
         border-radius: 10px;

         div span:nth-of-type(1) {
             font-weight: 700;
             font-size: 60px;
             line-height: 120%;
             color: #252432;
         }

         div span:nth-of-type(2) {
             font-weight: 400;
             font-size: 20px;
             line-height: 150%;
             color: #8987A1;
         }

         .service__arrow {
             width: 40px;
             height: 40px;
             border-radius: 50%;
             background-color: #eef0f377;
             display: flex;
             justify-content: center;
             align-items: center;
             cursor: pointer;
         }

         .service__arrow:active {
             background-color: #eef0f3;
         }

         .service__arrow img {
             width: 14px;
             height: 6px;
             transform: rotate(180deg);
         }
     }
 }